[submodule "custom/themes/powerlevel9k"]
	path = custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "custom/themes/k"]
	path = custom/themes/k
	url = https://github.com/supercrabtree/k
